<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>
  <header>
    <% include ./partials/_header %>
  </header>
    <% if (!users) { %>
    <body>
      <h3><em>You must be logged in to view your artisanal short URLs. Click the link above to log in.</em></h3>
    </body>
    <% } else { %>
  <body style="font-size:20px; padding:50px;">
    <ul>
      <table>
        <% if(message) { %>
          <h4 style="color: red;"><%= message %></h4>
        <% } %>
        <% for (let url in urls) { %>
          <% if(urls[url].user === users.id) { %>
          <tr>
            <td><form method="POST" action="/urls/<%= url %>/delete"><%= url %> &rarr; <strong><%= urls[url].longUrl %></strong></td>
            <td><a href="/urls/<%= url %>/">Edit</a></td>
            <td><input type="submit" class="btn-danger" value="Delete"></td>
            <td>Total views: <%= urls[url].views %></td>
            </form>
          </tr>
          <% } %>
        <% } %>
      </table>
    </ul>
  </body>
  <% } %>
  <footer>
    <% include ./partials/_footer %>
  </footer>
</html>
